
<div class="sort-buttons">
  <button (click)="sortBudgetsByDate()">Ordenar per Data</button>
  <button (click)="sortBudgetsByPrice()">Ordenar per Preu</button>
  <button (click)="sortBudgetsAlphabetically()">Ordenar Alfabèticament</button>
</div>

<div *ngFor="let budget of budgets$ | async">
  <div>
    <h3>{{ budget.clientName }}</h3>
    <p>Telèfon: {{ budget.phone }}</p>
    <p>Email: {{ budget.email }}</p>
    <p>Preu Total: {{ budget.totalPrice }} €</p>
    <p>Serveis Seleccionats: 
      <span *ngIf="budget.services.seoCampaign">SEO (300 €), </span>
      <span *ngIf="budget.services.adsCampaign">Publicitat (400 €), </span>
      <span *ngIf="budget.services.webCampaign">Pàgina Web (500 €)</span>
    </p>
  </div>
  <hr>
</div>

