<!----------------------------Modal-------------------------------->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="helpModalLabel">Ajuda</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Nombre de pàgines i/o d'idiomes: </h4>
                <p>Indica <strong><em>quantes pàgines</em></strong> tindrà el teu lloc web <br>
                Indica en <strong><em>quants idiomes</em></strong> estarà disponible el teu lloc web<br>
                El cost del servei d'idiomes i de pàgines és de <strong><em>30€</em></strong> cadascún.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Tancar</button>
            </div>
        </div>
    </div>
</div>
