<!----------------------------Modal-------------------------------->

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target = "#helpModal">
    <i class="bi bi-info-cercle"></i>
</button>
<div class="modal-fade" id="helpModal" tabindex="-1" arial-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Ajuda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Aqui pots trobar informació sobre el nombre de pàgines i d'idiomes</p>
                <p>Nombre de pàgines: Indica quantes pàgines tindrà el teu lloc web</p>
                <p>Nombre d'idiomes: Indica en quants idiomes estarà disponible el teu lloc web</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tancar</button>
            </div>
        </div>
    </div>
</div>
