
.container {
    max-width: 500px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

form {
    .form-label {
        font-weight: bold;
    }

    .form-control {
        margin-top: 8px;
    }

.input-group{
    display: flex;
    .btn {
        width: 50px;
    }
}
}